/Library
/MRSample.csproj
/MRSample.Plugins.csproj
/MRSample.sln
/Temp
/.vs
/Bin

MRSample\[github\]\.sln

MRSample\[github\]\.Plugins\.csproj

MRSample\[github\]\.csproj

MRSample\[github\]\.csproj

MRSample\[github\]\.Plugins\.csproj

MRSample\[github\]\.sln

MRSample\[github\]\.csproj

MRSample\[github\]\.Plugins\.csproj

MRSample\[github\]\.sln
